.box {
    height: 40px;
    width: 120px;
    background-color: #333333;
    margin-right: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    .colorIcon {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        border-radius: 100%;
        margin-left: 10px;
    }
    .textBox {
        color: white;
        font-size: 15px;
        height: 40px;
        display: flex;
        flex-direction: column;
        .name {
            margin-top: 3px;
            opacity: 0.5;
            font-size: 14px;
        }
        .score {
            font-size: 16px;
            margin-top: -17px;
        }
    }
}

.active {
    background-color: #ff9f0a;
    color: black;
}
